body {
  font-family: helvetica;
  text-align: center;
}
h1 {
  color: white;
}
h2, h3, h4 {
  font-weight: bold;
}
a {
  font-size: 18px;
  color: white;
}
.home {
  background-image: url("the-flatiron-building.png");
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 23px
}
h4 {
  font-size: 23px;
  color: white;
  background-image: url("the-flatiron-building.png")
}
p {
  font-size: 14px;
}
