body {
  font-family: helvetica;
  text-align: center;
}
h1 {
  color: white;
}
h2, h3, h4 {
  font-weight: bold;
}
a {
  font-size: 18px;
  color: white;
}
.home {
  background-image: url("the-flatiron-building.png");
}
